#main-footer {
  background: rgb(58, 47, 47);
  color: #fff;
}

#page-header {
  height: 200px;
  background: url("./img/image.jpg");
  background-position: 50% 95%;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 60px;
}
